# Dependencias
node_modules/
**/node_modules/

# Builds
dist/
**/dist/

# Entorno
.env
.env.local
**/.env
**/.env.local

# Datos sensibles
data/
**/data/blogs.json

# Basura
.DS_Store
*.log
server.log
